/* @font-face{
    font-family: 'bold';
    src: url('../font/araboto/ArabotoBold.ttf');
 
}
@font-face { 
    font-family: 'normal';
    src: url('../font/araboto/ArabotoNormal.ttf');
}

@font-face {
    font-family: 'Light';
    src: url('../font/araboto/ArabotoLight.ttf');
}

@font-face {
    font-family: 'bblack';
    src: url('../font/araboto/Arabotobblack.ttf');
} */